<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
      <div class="content-section">
        <div class="row">
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/the-balance-between-simplicity-and-clarity-2851b28b2d00">A small design change to Snapchat</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/the-job-to-be-done/a-jobs-to-be-done-interview-with-myself-15890d04749b">A jobs-to-be-done interview with myself</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/my-new-app-checklist-fe8aec23c896">My new app checklist</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/the-elusive-birdie-7b2c29b3d13">The elusive birdie</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/what-to-do-when-someone-says-i-have-no-feedback-2f3b8e1012d8">What to do when someone says “I have no feedback”</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/why-playing-to-win-the-game-may-scientifically-be-the-wrong-strategy-4a75bf91b770">Why playing to win the game is the wrong strategy</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/10-quotes-from-sports-icons-translated-for-startup-founders-741b564e5722">10 Quotes from Sports Icons Translated for Startup Founders</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/fantasy-football-the-perfect-ux-ae3423ece890">Fantasy Football: The perfect UX</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/the-cauldron/replace-the-word-boss-with-coach-6d808d5dbf56">Fewer bosses. More coaches. Please.</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/what-startup-founders-can-learn-from-peyton-manning-ca4fdcb3fe31">5 lessons startup founders can learn from Peyton Manning</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/your-baby-is-ugly-1d8b333da24a">Your baby is ugly</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/what-college-football-and-startups-have-in-common-e49bebbb279b">What college football and startups have in common</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/kids-dont-give-a-sh-t-and-why-adults-shouldnt-either-d0d334cf159f">Kids don’t give a sh*t. You shouldn’t either.</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/a-journey-to-the-center-of-somewhere-2c09d4a59c43">A Journey to the Center of Somewhere</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/9-tricks-for-effective-learning-from-home-ec78af7a7f2e">9 Tricks to Work from Home Effectively</a>
          </div>
          <div class="col-md-6">
            <script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@paulgonz6/starter-school-vs-dev-bootcamp-38ad896e8a10">Starter School vs Dev Bootcamp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
