<div class="row">
  <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Paul Gonzalez</h1>
      <h2>
        <small class="jumbotron-subtext">
          Let's go on a product development journey together
        </small>
      </h2>
    </div>
  </div>
</div>
