<div class="row">
  <div class="jumbotron">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1>Paul Gonzalez</h1>
      <h2>
        <small class="jumbotron-subtext">
          Let's go on a product development journey together
        </small>
      </h2>
    </div>
  </div>
</div>
<div class="row text-center nav-row">
  <ul class="list-inline desktop-nav-bar">
    <li>About</li>
    <li>Skills</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div class="content-section">
        <h3>
          <strong>My Story</strong>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="content-section">
        <h3>
          <strong>My Philosophy</strong>
        </h3>
        <p>
          Design with purpose, build stuff people want, and make something every day.
        </p>
        <p>
          Some people call it user centered design. Which I think is a fine term, although I wouldn't know any other way to design product flows. I adhere to Kathy Sierra's motto that "users do not care about your app, they care about themselves." And the most important thing to design for is "what the user does once they leave your app." I belive that form follows function, but defining the appropriate function is where I look to spend most of my time.
        </p>
        <p>
          I think a handful of good conversations trump a robust A/B test any day. Especially when it comes to startups because data can be deceiving (assuming you even have data). Get off the computer and get on the phone, or in the coffee shop, or on the Skype. Conversations are a product designers best friend. Listen early, and listen often. It's the only way to learn how to build what people actually want.
        </p>
        <p>
          I have found that the only way I get better at things, or make my products better, is by making something every day. Maybe it's a sketch, maybe it's a whole new feature. Or maybe it's writing a blog post, or making a new connection with someone. Creating something that didn't exist yesterday, is what gets me excited about tomorrow.
        </p>
      </div>
      <div class="content-section">
      <h3>
        <strong>The Boring Stuff</strong>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
      <div class="content-section">
      <h3>
        <strong>Things I Hate</strong>
      </h3>
      <p>
        <ul class="list-unstyled">
          <li>
            <p>
              <strong>Lorem Ipsum:</strong> While it can be a good tool to quickly take up space, that's about all it is good for. From a design stand point, it gives us a false sense of reality in terms of how the page will flow with real data. It's worth it for me to populate designs with real data at an early stage. It's the only way to determine what words are important on the page, and how they should be spaced.
            </p>
          </li>
          <li>
            <p>
              <strong>The saying "it solves a real world problem":</strong> While it can be a good tool to quickly take up space, that's about all it is good for. From a design stand point, it gives us a false sense of reality in terms of how the page will flow with real data. It's worth it for me to populate designs with real data at an early stage. It's the only way to determine what words are important on the page, and how they should be spaced.
            </p>
          </li>
          <li>
            <p>
              <strong>The fact that we call people "bosses" in the work place:</strong> While it can be a good tool to quickly take up space, that's about all it is good for. From a design stand point, it gives us a false sense of reality in terms of how the page will flow with real data. It's worth it for me to populate designs with real data at an early stage. It's the only way to determine what words are important on the page, and how they should be spaced.
            </p>
          </li>
        </ul>
      </p>
      </div>
      <div class="content-section">
      <h3>
        <strong>Things I Love</strong>
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
    </div>
  </div>
</div>
