
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div class="content-section">
        <h3>
          <strong>My Philosophy</strong>
        </h3>
        <p>
          <strong>Design with purpose, build stuff people want, and make something every day.</strong>
        </p>
        <p>
          Some people call it user centered design. Which I think is a fine term, although I wouldn't know any other way to design product flows. I adhere to Kathy Sierra's motto that "users do not care about your app, they care about themselves." And the most important thing to design for is "what the user does once they leave your app." I belive that form follows function, but defining the appropriate function is where I look to spend most of my time.
        </p>
        <p>
          I think a handful of good conversations trump a robust A/B test any day. Especially when it comes to startups because data can be deceiving (assuming you even have data). Get off the computer and get on the phone, or in the coffee shop, or on Skype. Conversations are a product designers best friend. Listen early, and listen often. It's the only way to learn how to build what people actually want.
        </p>
        <p>
          I have found that the only way I get better at things, or make my products better, is by making something every day. Maybe it's a sketch, maybe it's a whole new feature. Or maybe it's writing a blog post, or making a new connection with someone. Creating something that didn't exist yesterday is what gets me excited about tomorrow.
        </p>
      </div>
      <div class="content-section">
        <h3>
          <strong>My Story</strong>
        </h3>
        <p>
          In college I wanted to "work on Wall Street." So I did. I started at Goldman Sachs in July of 2008, about 10 weeks before the complete implosion of the global financial system. Thankfully, I survived the worst of times and lasted nearly 6 years. I held a number of different jobs within the bank, but never quite finding my passion.
        </p>
        <p>
          It turns out I needed to look outside of finance to find my passion. It turns out, my passion was building stuff, solving problems, and being creative. I just couldn't do all those things in a highly regulated, highly structured environment. So, I rolled the dice. In June of 2014, I left the firm and set out on a new journey. I joined Starter School in Chicago. I started building products. Solving problems using code. And ultimately loving life a lot more.
        </p>
        <p>
          I continue on this journey. The search for finding one's passion is challenging. And so is the journey that is product development. It twists. It turns. And the roadmap isn't always 100% clear. But, I once heard "if you don't know exactly where you are going, any road will get you there." So, I guess, see you there.
        </p>
      </div>
      <div class="content-section">
        <h3>
          <strong>Some Things I Love</strong>
        </h3>
        <p>
          <ul class="list-unstyled">
            <li>
              <p>
                <strong>Golf:</strong> I would never call myself a golfer, but I love golf. I love how it combines mental and physical challenges, to create an extremely fun yet difficult game. Also, how else would I rather spend four hours outside on a weekend.
              </p>
            </li>
            <li>
              <p>
                <strong>My family and friends:</strong> Not sure where I would be without the network I have built around me. My parents have allowed me to take chances in life, my fiance always supports me after a tough day, and my friends are always there to make fun of me and keep me in check. I'd say I have a good life.
              </p>
            </li>
            <li>
              <p>
                <strong>Crossfit:</strong> It's hard. It's competitive. It's measurable. I love competing with myself, and working to get better at it each week.
              </p>
            </li>
            <li>
              <p>
                <strong>Watching football:</strong> As a Penn State grade, college football runs through my veins. I don't think there is anything quite like a college town on game day. The energy is infectious. It feels like home.
              </p>
            </li>
          </ul>
        </p>
      </div>
      <div class="content-section">
        <h3>
          <strong>Some Things I Hate</strong>
        </h3>
        <p>
          <ul class="list-unstyled">
            <li>
              <p>
                <strong>Lorem Ipsum:</strong> While it can be a good tool to quickly take up space, that's about all it is good for. From a design stand point, it gives us a false sense of reality in terms of how the page will flow with real data. It's worth it for me to populate designs with real data at an early stage. It's the only way to determine what words are important on the page, and how they should be spaced.
              </p>
            </li>
            <li>
              <p>
                <strong>The saying "it solves a real world problem":</strong> I'm not sure when we started solving fantasy world problems, but I assume we should always be focusing on real world problems. I hate the saying because it implies that at some point people are designing, or developing, without over talking to other people about the problem. That's a recipe for disaster.
              </p>
            </li>
            <li>
              <p>
                <strong>The fact that we call people "bosses" in the work place:</strong> Read more about it in my Medium post
                <u><a href="https://medium.com/the-cauldron/replace-the-word-boss-with-coach-6d808d5dbf56"class="social-hover">here</a>.</u>
                This post has been viewed by over 10,000 people, and has been syndicated in
                <u><a href="http://www.businessinsider.com/replace-boss-with-coach-2014-11" class="social-hover">Business Insider</a>.</u>
              </p>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
