<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <div class="content-section">
        <h3>
          <strong>Projects</strong>
        </h3>
        <ul>
          <li>
            <a href="http://crowdgate.us" target="_blank">
              Crowdgate
            </a>
          </li>
          <li>
            <a href="http://saucepan.io" target="_blank">
              Saucepan
            </a>
          </li>
          <li>
            <a href="http://greenteam.herokuapp.com/" target="_blank">
              Greenteam Landscaping Landing Page
            </a>
          </li>
          <li>
            <a href="http://paulgandkatieawedding.com" target="_blank">
              Wedding Website
            </a>
          </li>
          <li>
            <a href="http://startupsandsports.com/index.html" target="_blank">
              Startups and Sports Blog
            </a>
          </li>
          <li>
            This personal webpage
          </li>
        </ul>
      </div>
      <div class="content-section">
        <h3>
          <strong>Appearances and screencasts</strong>
        </h3>
        <ul>
          <li>
            <a href="https://vimeo.com/114595735" target="_target">
              Presentation at Basecamp on Crowdgate
            </a>
          </li>
          <li>
            <a href="https://vimeo.com/124218143" target="_target">
              Designing Crowdgate Screencast
            </a>
          </li>
          <li>
            <a href="http://www.tailgateradio.com/episode-26-crowdgate-founder-head-coach-paul-gonzalez/" target="_blank">
              Appearance on Tailgate Radio
            </a>
          </li>
          <li>
            <a href="http://www.businessinsider.com/replace-boss-with-coach-2014-11">
              Blog Post Published in Business Insider
            </a>
          </li>
          <li>
            <a href="https://medium.com/@paulgonz6/a-jobs-to-be-done-interview-with-myself-15890d04749b" target="_blank">
              Blog Post Published in Jobs to be Done Publication on Medium
            </a>
          </li>
        </ul>
      </div>
      <div class="content-section">
        <h3>
          <strong>Other experiences</strong>
        </h3>
        <ul>
          <li>Teaching Assistant at Northwestern- Ruby on Rails</li>
          <li>Starter League Nightly Workshop TA- HTML/CSS</li>
          <li>Organizer of Chicago Sports-Tech Meetup</li>
        </ul>
      </div>
    </div>
  </div>
</div>
