<div class="tutorial-content" id="final_message">
  <div class="row question">
    <div class="col-md-6 col-md-offset-1">
      <h1>i care</h1>
      <h4>
          I care about the business. I care about the people I work with. And I care about the mission of Jellyvision. I want to build great things together, and I'm willing to contribue to a team in anyway possible to make that happen.
      </h4>
      <h4>
        <strong>
          Can I make a suggestion? Give me a shot. I don't think you'll be disappointed.
        </strong>
      </h4>
      <h4>
        Thanks for taking some time to get to know me. If you are interested in learning more, shoot me an email. I'm always down to grab coffee or a beer to chat more. Hasta luego!
      </h4>
      <%= link_to "mailto:pjg5005@gmail.com" do %>
        <button class="btn jelly-button jelly-button-reg-text">
          I gotta email this guy <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
