<div>
  <p class="hiring-call-out">
    <strong>Yea, we need to hire this guy now!</strong>
    <a href="mailto:pjg5005@gmail.com?subject=Dude, awesome site. Let's grab coffee?">
      Email me
    </a>
  </p>
</div>
