<div class="tutorial-content" id="train">
  <div class="row question">
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <h4>
        I've always liked the train. You get to read, relax, and avoid unnecessary traffic jams...
      </h4>
      <h4>
        Anyway, back to business. Aside from being a generally fun person (at least that’s what my friends tell me), there are a few other reasons why I think I'd be a good fit at Jellyvision. In fact, I have 3 reasons.
      </h4>
      <br>
      <%= link_to reason_one_url, remote: true do %>
        <button class="btn jelly-button jelly-button-reg-text">
          I'm intrigued, let me hear 'em <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag 'http://media.giphy.com/media/A6tgSDllbrWtq/giphy.gif' %>
    </div>
  </div>
</div>
