<div class="tutorial-content" id="uber">
  <div class="row question">
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <h4>
        First off, apologies that this site isn't great on mobile. Just bear with me for a bit. Second, remember life before Uber? Man did that suck.
      </h4>
      <h4>
        Anyway, back to business. Aside from being a generally fun person (at least that’s what my friends tell me), there are a few other reasons why I think I'd be a good fit at Jellyvision. In fact, I have 3 reasons.
      </h4>

      <br>

      <%= link_to reason_one_url, remote: true do %>
        <button class="btn jelly-button jelly-button-reg-text">
          I'm intrigued, let me hear 'em <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
