<div class="tutorial-content" id="michael_jarecki">
  <div class="row question">
    <div class="col-md-12 text-center">
      <h2>
        Hey there, Michael! Hopefully we get a chance to meet at some point.
      </h2>
      <h2>
        Out of curiousty, where are you right now?
      </h2>

      <%= render 'location_choices' %>

      <br>
      <br>
    </div>
  </div>
</div>
