<div class="tutorial-content" id="reason_two">
  <div class="row question">
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <h2>Reason 2: I'm like a tuatara</h2>
      <h4>
        <em>WTF is a tuatara?</em>
      </h4>
      <h4>
        Well, the tuatara is actually a ‘living dinosaur.’ It is widely accepted that the tuatara is the fastest evolving creature in history. That is to say, it learns quickly and adapts. In just one year's time, I have learned a ton (ask and I'll tell you all about it). What I lack in “years of experience,” I make up for in proof of progress.
      </h4>

      <br>

      <%= link_to reason_three_url, remote: true do %>
        <button class="btn jelly-button jelly-button-reg-text">
          Ok I'm hooked, let's see #3 <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
