<div class="tutorial-content" id="reason_one">
  <div class="row question">
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <h2>Reason 1: I get to the bottom of things</h2>
      <h4>
        I always want to know why someone is doing something. I ask a lot of questions. I am a listener first, a developer and designer second. I like to poke holes in things and see what happens. For me, experimenting and trying new things is always part of the process.
      </h4>

      <br>

      <%= link_to reason_two_url, remote: true do %>
        <button class="btn jelly-button jelly-button-reg-text">
          Go on... <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
