<div class="tutorial-content" id="reason_three">
  <div class="row question">
    <br>
    <br>
    <br>
    <div class="col-md-6 col-md-offset-1">
      <h2>Reason 3: I love teaching</h2>
      <h4>
        Whether it’s pairing with someone else, or lecturing in a formal setting, I love sharing knowledge. If I can help someone get unstuck, that is a good day for me. It also helps me getter better and sharpen my skills. The best student tends to have zero ego. Those are the types of people I like to work with.
      </h4>

      <br>

      <%= link_to final_message_url, remote: true do %>
        <button class="btn jelly-button jelly-button-reg-text">
          One last thing... <%= icon('arrow-right') %>
        </button>
      <% end %>
    </div>
  </div>
</div>
