<div class="container">
  <br>

  <div class="row jelly-content">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        I think you'll find my experience interesting too
      </h3>

      <h4><strong>Teaching Assistant at Northwestern (March 2015 - Present)</strong></h4>
      <p>
        For the past few months I have been a teaching assistant for Northwestern's Startup Programming & Management course. I basically help the students learn the magic of Ruby on Rails and assistant them in building their ideas into apps.
      </p>

      <br>
      <h4><strong>Starter School (September 2014 - Present)</strong></h4>
      <p>
        Holy shit was this a crazy experience. In less than 9 months, I went from no product experience at all to launching my first app. In that time I learned HTML/CSS, front-end frameworks like jQuery and Bootstrap, Ruby, Ruby on Rails, and even the version control system Git and GitHub. Not to mention all the product development knowledge required to actually launch an app and get users.
      </p>

      <br>
      <h4><strong>Other Professional Experiences (Always ongoing)</strong></h4>
      <p>
        As an avid sports fan, and lover of most tech related meetups, I was shocked to find out there was no Chicago Sports-Tech Meetup. So I started one. Our group is now 275+ members strong, and is a great place for people to share ideas in the community
      </p>
      <p>
        Before learning product development at Starter School, I spent my professional hours in finance. I studied Finance and Economics at Penn State University, and join Goldman Sachs right out of schools. In six years I held multiple roles including Derivative Trade Support, Investment Banking Analyst, and Financial Investment Professional. I don't mind nerding out over some finance topics, so if you're ever intersted about these, just ask me!
      </p>
    </div>
  </div>
  <div class="row jelly-content">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        See what others are saying about me!
      </h3>
    </div>
  </div>
  <div class="row jelly-content">
    <div class="col-md-10 col-md-offset-1">
      <h3>
        When I'm not building great products, I do some other fun stuff
      </h3>
    </div>
  </div>
</div>
