<div class="tutorial-content" id="step_one">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h1>
        paul
      </h1>
      <h2>
        Product developer and designer. Let's build awesome stuff together.
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h4>
        Hi, I'm Paul. Unlike ALEX, I'm actually a real human (sorry, I know robots are pretty cool). But just like ALEX, I'm here to help you out. Help you out in hiring your next Modern UI Engineer or Jr Developer.
      </h4>
      <!--         <h4>
      Enrolling for insurance or 401k plans can be as boring as going through stacks of cover letters and resumes. Instead of the boring conventional way, I have put together a quick interactive tour of myself instead! You're welcome.
    </h4> -->
      <h4>
        This tour is quick. You'll get to know me in about 2 minutes and 12 seconds. So grab a beer, or a coffee, or a glass of warm milk, and have fun. That's what life is all about anyway. Bottoms Up.
      </h4>
    </div>
    <div class="col-md-4 col-md-offset-1">
    <%= link_to step_one_url, remote: true do %>
    <button class="btn btn-lg jelly-button animated infinite pulse">
      Meet PAUL <%= icon('chevron-right') %>
    </button>
    <% end %>
    </div>
  </div>
</div>
