<div class="jumbotron jelly-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="font-size: 92px; font-weight: 600;">
          paul
        </h1>
        <h2>
          Junior developer who can make your products more awesome.
        </h2>
        <br>
        <h4>
          Hi, I'm Paul. Unlike ALEX, I'm actually a real human (sorry, I know robots are cool)
        </h4>
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>
