.jelly-jumbo {
  padding: 50px;
  background-color: #267EDC;

  h2 {
    color: white;
    font-size: 28px;
    font-weight: 300;
  }

  h4 {
    color: white;
    font-size: 18px;
    font-weight: 200;
  }

}
