<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div>
        <%= image_tag 'https://pbs.twimg.com/profile_images/542711226128543745/h4fSp9lj.png',
                class: 'img-circle', height: 100 %>
      </div>
      <h1>Paul Gonzalez</h1>
      <h2 class="jumbotron-subtext">
        <small>
          Let's go on a product development journey together
        </small>
      </h2>
    </div>
  </div>
</div>
