<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">

      <div class="row lg-padding">
        <div>
          <%= image_tag 'https://pbs.twimg.com/profile_images/542711226128543745/h4fSp9lj.png',
                  class: 'img-circle', height: 150 %>
        </div>
      </div>

      <hr/>
      <ul class="list-inline">
        <li>Projects</li>
        <li> </li>
        <li><%= link_to "Blog", blog_url %></li>
        <li> </li>
        <li>Skills</li>
        <li> </li>
        <li>Contact</li>
      </ul>
      <h1>Developer. Designer. Entrepreneur.</h1>
    </div>
  </div>
</div>
